ion-header {
    margin-bottom: 100px;
    ion-item {
        .backbtn {
            margin-top: -125px;
        }
        .main-title {
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            margin-left: -50px;
            color: #3D3D3D;
            margin-top: 150px;
        }
    }
}

ion-content {
    ion-grid {
        ion-row {
          ion-col {
            margin: auto;
            display: block;
            ion-button {
              --background: #64C18E;
              margin-left: 35px;
              width: 80%;
              font-size: 17px;
              font-weight: 700;
              margin-top: 17px;
              color: #ffffff;
            }
          }
        }
      }
}