ion-header {
    margin-bottom: 100px;
    ion-item {
        .backbtn {
            margin-top: -75px;
        }
        .rule {
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            margin-left: -40px;
            color: #3D3D3D;
            margin-top: 100px;
        }
    }
}

ion-content {
    width: 90%;
    .inside-rule {
        font-size: 18px;
        float: left;
        font-weight: 700;
        color: #000000;
        margin-left: 35px;
    }
    ion-label {
        font-size: 18px;
        float: left;
        color: #000000;
        margin-left: 40px;
    }
}