<ion-header [translucent]="true">
  <ion-item lines="none">
    <ion-img class="backbtn" src="../../assets/left-vector.svg"></ion-img>
    <ion-label class="rule">LUẬT CHƠI</ion-label>
  </ion-item> 
</ion-header>

<ion-content>
  <ion-label class="inside-rule">Người chơi có 5 lượt/ ngày, trong đó:</ion-label>
  <ion-label>+ Hai lượt miễn phí</ion-label>
  <ion-label>+ Ba lượt mua bằng điểm tích lũy trong lượt chơi, khi hết giờ người chơi sẽ bị game over ( mất điểm )</ion-label>
  <ion-label class="inside-rule">Điều kiện thắng:</ion-label>
  <ion-label>+ 1 lượt chơi có 10 câu hỏi, trả lời được 8/10 câu một lượt sẽ thắng</ion-label>
  <ion-label>+ Khi người chơi trả lời đúng liên tiếp 2 câu trở lên sẽ được cộng điểm thưởng (điểm thưởng tính theo cấp số cộng )</ion-label>
  <ion-label>+ Khi người chơi trả lời sai sẽ bị mất hết điểm thưởng, sai 3 câu người chơi sẽ bị game over</ion-label>
</ion-content>
