ion-header {
  ion-item {
    margin-top: 23px;
    
    .backbtn {
      margin-top: -45px;
    }
    ion-col {
      text-align: center;
      ion-label {
        font-size: 23px;
        font-weight: 700;
        margin-left: -40px;
        color: #3D3D3D;
      }
    }
  }
}

ion-content {
  
  .main-img {
    margin-top: 55px !important;
    width: 65%;
    height: auto;
    opacity: 0.5;
    margin: auto;
    display: block;
  }

  ion-grid {
    ion-row {
      ion-col {
        margin: auto;
        display: block;
        ion-button {
          --background: #64C18E;
          margin-left: 35px;
          width: 80%;
          margin-top: 30px;
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
  }
}