<ion-header [translucent]="true">
  <ion-item lines="none">
    <ion-img class="backbtn" src="../../assets/left-vector.svg"></ion-img>
    <ion-col>
      <ion-label>ĐỐ VUI</ion-label>
      <ion-label>NHẬN THƯỞNG</ion-label>
    </ion-col>
  </ion-item>
</ion-header>

<ion-content>
  <ion-img class="main-img" src="../../assets/main-img-frame40.svg"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button>Chơi theo chủ đề</ion-button>
        <ion-button>Chơi theo cấp độ</ion-button>
        <ion-button>Luật chơi</ion-button>
        <ion-button>Thoát</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
