ion-header {
    margin-top: 40px;
    .top-item {
        margin-left: 40px;
        .heart {
            width: 10%;
            height: auto;
        }

        .heart-number {
            font-size: 30px;
            font-weight: 700;
            margin-left: 5px;
            color: #64C18E;
            margin-right: 30px;
            
        }

        .timer-border {
            margin-right: 35px;
        }

        .sound {
            width: 10%;
            height: auto;
            
        }
    }
    .bottom-item {
        margin-top: 50px;
        ion-label {
            text-align: center;
            font-size: 17px;
            color: #64C18E;
        }
    }
}

ion-content {
    display: block;
    .question {
        width: 350px;
        font-size: 19px;
        float: left;
        color: #ffffff;
        background-color: #64C18E;
        border-radius: 15px;
        padding: 35px 45px 45px 45px;
        margin-left: 12px;
    }
    .cup {
        margin-top: 190px;

        .win {
            font-weight: 700;
            font-size: 18px;
            margin-left: 5px;
            color: #64C18E;
        }
    }
    
    ion-row {
        .bottom-left {
            margin-top: 15px;
            position: absolute;
    
            .bottom-left-number {
                position: absolute;
                margin-top: 5px;
                margin-left: -5px;
                ion-label {
                    margin-top: 15px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    color: #64C18E;
                }
                .bottom-left-number-highlight {
                    color: #ffffff;
                    background-color: #64C18E;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-top: 10px;
                }
            }
        }
        .bottom-right {
            margin-left: 30px;
            margin-top: 32px;
            --ion-background-color: rgba(0,0,0,0.0);
            .bottom-right-number {
                ion-label {
                    font-size: 17px;
                    font-weight: 400;
                    margin-bottom: 16px;
                    color: #64C18E;
                }
            }
            
        }
        ion-grid {
            ion-row {
                ion-col {
                    margin: auto;
                    display: block;
                    margin-left: 15px;
                    margin-top: 10px;

                    .choosedbtn {
                        --background: #EF3D3C;
                        border: none;
                        color: #ffffff;
                    }

                    ion-button {
                        border: 2px solid #64C18E;
                        border-radius: 10px 10px 10px 10px;
                        color: #64C18E;
                        --background: #ffffff;
                        width: 80%;
                        font-size: 17px;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                    .confirmbtn {
                        margin-top: 25px;
                        --background: #64C18E;
                        color: #ffffff;
                        border: none;
                    }
                }
            }
        }
    }
    
}