<ion-header>
  <ion-item class="top-item" lines="none">
    <ion-img class="heart" src="../../assets/heart.svg"></ion-img>
    <ion-text class="heart-number">3</ion-text>
    <ion-img class="timer-border" src="../../assets/timer-border.svg"></ion-img>
    <ion-img class="sound" src="../../assets/sound.svg"></ion-img>
  </ion-item>
  <ion-item class="bottom-item" lines="none">
    <ion-label>Chủ đề nghề nghiệp</ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-label class="question">
    Câu 1: Nghênh ngang cờ phất bốn bề, ngày thì tập trận, tối về điểm quân ?
  </ion-label>
  <ion-item class="cup" lines="none">
    <ion-img class="heart" src="../../assets/cup.svg"></ion-img>
    <ion-label class="win">WIN</ion-label>
  </ion-item>
  <ion-row>
    <ion-item class="bottom-left" lines="none">
      <ion-img src="../../assets/border.svg"></ion-img>
        <ion-col class="bottom-left-number">
          <ion-label>8</ion-label>
          <ion-label>7</ion-label>
          <ion-label>6</ion-label>
          <ion-label>5</ion-label>
          <ion-label>4</ion-label>
          <ion-label>3</ion-label>
          <ion-label>2</ion-label>
          <ion-label class="bottom-left-number-highlight">1</ion-label>
        </ion-col>
    </ion-item>
    <ion-item class="bottom-right" lines="none">
      <ion-col class="bottom-right-number">
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+2đ</ion-label>
        <ion-label>+0đ</ion-label>
      </ion-col>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>A. Chăn vịt</ion-button>
          <ion-button class="choosedbtn">B. Chăn dê</ion-button>
          <ion-button>C. Chăn bò</ion-button>
          <ion-button>D. Chăn ngựa</ion-button>
          <ion-button class="confirmbtn">Đồng ý</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
</ion-content>
